.img-container img {
    width: 300px;
    height: 250;
    border: 5px solid lightslategrey;
    border-radius: 10px;
    transition: width 5s;
}

.img-container img:hover {
    width: 350px;
}

.about-book-container {
    padding: 10px;
}

.about-book-container h1:hover {
    background-color: aqua;
    border-radius: 10px;

}

.about-book-container p {
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: left;
    padding: 10px;

}

.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}